* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     -o-box-sizing: border-box;
			box-sizing: border-box;
}

body{
 	background: white; 
}

.navBar {
  	overflow: hidden;
  	background-color: #00cc66;
  	height: auto;
}

.navBar a {
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 20px;
  	opacity: 0.8;
  	border-right: 1px solid white; 
}

.navBar a:hover {
  	color: white;
  	opacity: 1;
}

.navBar #buttonLogOut:hover {
  	color: white;
  	opacity: 1;
}

.navBar #buttonLogOut {
  	border: none;
  	background-color: #00cc66;
  	cursor: pointer;
  	float: left;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 20px;
  	opacity: 0.8;
  	border-right: 1px solid white; 
}

.row{
	padding: 10px 200px 2px 200px;
}

.search-container{
	padding: 10px 200px 2px 200px;
}

.search-container #search{
	font-size: 20px;
	padding: 1px;
	color: gray;
}

.row .column{
	margin: 10px;
}

.column #emailUser{
	font-size: 25px;
	text-decoration: none;
	cursor: pointer;
	color: gray;
}

#emailUser:hover{
	color: #00cc66;
}

.column #downloadSertifikat{
	color: #00cc66;
	background: white;
	font-size: 17px;
	cursor: pointer;
	border: 1px solid #00cc66;
	margin: 2px;
	text-decoration: none;
	
}

.column #downloadJKS{
	color: #00cc66;
	background: white;
	font-size: 17px;
	cursor: pointer;
	border: 1px solid #00cc66;
	margin: 2px;
	text-decoration: none;
}

#setActiveUser{
	color: #00cc66;
	background: white;
	font-size: 17px;
	cursor: pointer;
	border: 1px solid #00cc66;
	margin-left: 11px;
	width: 153px;
}

#buttonSearch{
	color: #00cc66;
	background: white;
	font-size: 24px;
	cursor: pointer;
	border: 1px solid #00cc66;
	margin-left: 5px;
}
